<button type = button class = "btn btn-primary" routerLink="/welcome">QUIT</button>
<p class = "space">
    <img src ="assets/images/back_of_playing_card.png">
</p>
<p class = "space">
    <span>Wins:</span>
    <span class = "space" class = "left"><img src ="assets/images/back_of_playing_card.png"></span>
    <span>{{player.outcome}}</span>
    <span class = "space" class = "left"><img src ="assets/images/back_of_playing_card.png"></span>
    <span class = "left">Losses:</span>
</p>
<p>
    <img src ="assets/images/back_of_playing_card.png"></p>
<p>
    <button type = "button" class = "btn btn-secondary">Play</button>
</p>
