h3 {
    padding-left: 30px;
    padding-top: 5%;

}
p {
    text-align: center;
    padding-left: auto;
    padding-right: auto;
}
.bg-image{
    background-image: url('../../assets/Images/poker_table.jpg'); 
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}